---
import Layout from '@layouts/Layout.astro'
import MomentCard from '@components/MomentCard.astro'
import BackLater from '@components/BackLater.astro'
import {useLocale} from '@utils/locale'
const {path, t, locale} = useLocale(Astro.url)
const URL = import.meta.env.BLOG_API + '/moments'
const {page} = Astro.props

interface PageURL {
    prev: string,
    next: string
}
interface Props {
    page: {
        currentPage: number,
        pageSize: number
        url: PageURL
    }
}

let result = null
try {
    const response = await fetch(URL + `?page=${page.currentPage}`, {
        method: 'GET',
        headers: {
            'Authorization': 'Bearer ' + import.meta.env.BLOG_API_SECRET,
        }
    })
    result = await response.json()
} catch (e) {
    result = {
        moments: [],
        next: null,
        prev: null
    }
}

const {moments, next, prev} = result
const pageHref = (page) => {
    if (!page) return null
    if (page === 1) return path(`/moments`)
    return path(`/moments/p/${page}`)
}
---

<Layout title={t('nav.moments')}>
    <div class="max-w-[65ch]">
        <div class="mt-8">
            {
                moments.map((c) =>
                        <MomentCard content={c}/>)
            }
            {!moments.length &&
                    <BackLater/>}
        </div>
        <div class="mt-4">
            <span>
                {
                    prev && (
                                <a rel="prefetch" href={pageHref(prev)} class="panda-link">
                                    {t('pagination.previous')}
                                </a>
                    )
                }
            </span>
            <span class="float-right">
                {
                    next && (
                                <a rel="prefetch" href={pageHref(next)} class="panda-link">
                                    {t('pagination.next')}
                                </a>
                    )
                }
            </span>
        </div>
    </div>
</Layout>
